@import url("https://cdnjs.cloudflare.com/ajax/libs/mdb-ui-kit/6.3.0/mdb.min.css");
body
{
    display: flex;
    justify-content: center;
    align-items: center;
}
section.text-center
{
    width: 40vw;

}