.form_niveau 
{
    display: flex;
    gap: 1em;
    width: 500px;
}
.form_niveau input
{
    width: 50%;
}

.container-form form
{
    width: 50%;
}
.container-form.active
{
    visibility: visible;
}
.addEleve
{
    top: -40px;
}